parameters:
	level: 6
	paths:
		- additional-subscriptions-analytics.php
		- src
		- uninstall.php
	scanFiles:
		- phpstan-stubs/wordpress.php
		- phpstan-stubs/woocommerce-admin.php
	tmpDir: .phpstan-cache
	treatPhpDocTypesAsCertain: false
	ignoreErrors:
		-
			message: '#Constant ASA_[A-Z_]+ not found#'
			path: src/*
